In [1]:
from glob import glob
import pandas as pd
from datetime import datetime

In [34]:
all_files = glob('stock_data/*')
print(len(all_files))
all_data = [pd.read_csv(i) for i in all_files]
data = pd.concat(all_data)

15

In [35]:
datetime.fromtimestamp(data['t'].min()).strftime('%Y-%m-%d %H:%M:%S')

'2023-08-26 09:14:15'

In [18]:
data.duplicated().sum()

0

In [19]:
'''for row in data.iterrows():
    print(datetime.fromtimestamp(row[0]).strftime('%Y-%m-%d %H:%M:%S'))
'''

"for row in data.iterrows():\n    print(datetime.fromtimestamp(row[0]).strftime('%Y-%m-%d %H:%M:%S'))\n"

In [2]:
backup_data = pd.read_csv('stock_data.csv')

In [24]:
datetime.fromtimestamp(backup_data['t'].max()).strftime('%Y-%m-%d %H:%M:%S')

'2023-08-27 14:21:20'

In [25]:
backup_data

                  t     open      low     high    close
0        1656620950  7691.00  7690.90  7691.03  7690.96
1        1656620945  7690.90  7690.90  7691.01  7691.01
2        1656620940  7690.97  7690.86  7690.97  7690.88
3        1656620935  7690.87  7690.87  7690.98  7690.98
4        1656620930  7690.79  7690.79  7690.88  7690.88
...             ...      ...      ...      ...      ...
8186995  1656623975  7688.89  7688.79  7688.89  7688.79
8186996  1656623970  7688.77  7688.73  7688.89  7688.89
8186997  1656623965  7688.73  7688.72  7688.79  7688.73
8186998  1656623960  7688.78  7688.72  7688.78  7688.73
8186999  1656623955  7688.92  7688.74  7688.92  7688.74

[8187000 rows x 5 columns]